<!DOCTYPE html>
<html lang="eng">
<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--====== Title ======-->
    <title> Genial Blog</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="img/png" />
    <!--====== Animate Css ======-->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css" />
    <!--====== Slick  css ======-->
    <link rel="stylesheet" href="assets/css/slick.css" />
    <!--====== Nice Select ======-->
    <link rel="stylesheet" href="assets/css/jquery-nice-select.min.css" />
    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/auth.css" />
</head>

<body>
<section class="shopping-login-page">
    <div class="container">
        <div class="login-wrapper">
            <div class="row justify-content-center no-gutters">
                <div>
                    <div class="reg-box">
                        <div class="form-title">
                            <h3>Register</h3>
                            <p>I'm a new customer and would like to register.</p>
                        </div>
                        <form class="login-form" onsubmit="handleFormSubmit(event, 'register')">
                            <p>
                                <label for="username">Username<span class="required">*</span></label>
                                <input type="text" id="username" name="username">
                            </p>
                            <p>
                                <label for="email">Email address<span class="required">*</span></label>
                                <input type="text" id="email" name="email">
                            </p>
                            <p>
                                <label for="password">Password<span class="required">*</span></label>
                                <input type="password" id="password" name="password">
                            </p>
                            <p class="text-center">
                                <button type="submit" class="form-btn">Register</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="alert"></div>

<!--====== jquery js ======-->
<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
<!--====== Bootstrap js ======-->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<!--====== Slick js ======-->
<script src="assets/js/slick.min.js"></script>
<!--====== Images Loaded ======-->
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<!--====== Isotope js ======-->
<script src="assets/js/isotope.pkgd.min.js"></script>
<!--====== Magnific Popup js ======-->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!--====== Nice Select js ======-->
<script src="assets/js/jquery.nice-select.min.js"></script>
<!--====== Main js ======-->
<script src="assets/js/main.js"></script>
<script src="assets/js/auth.js"></script>
</body>

</html>