<!--====== Header part start ======-->
<header class="sticky-header">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between">
            <div class="site-logo">
                <a href="/"><img style="width: 150px" src="/assets/img/logo.png" alt="Genial"></a>
            </div>
            <div class="header-right">
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-btn"><i class="fas fa-search"></i></a>
                    <div class="search-form">
                        <a href="#" class="search-close"><i class="fal fa-times"></i></a>
                        <form action="#">
                            <input type="search" placeholder="Type here to search">
                        </form>
                        <div class="search-overly"></div>
                    </div>
                </div>
                <div class="shoping-cart">
                    <a href="cart.html" class="shoping-cart-btn">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="count">2</span>
                    </a>
                </div>
                <div class="offcanvas-panel">
                    <a href="javascript:void(0)" class="panel-btn">
							<span>
								<span></span>
								<span></span>
								<span></span>
							</span>
                    </a>
                    <div class="panel-overly"></div>
                    <div class="offcanvas-items">
                        <!-- Navbar Toggler -->
                        <a href="javascript:void(0)" class="panel-close">
                            Back <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>

                        <ul class="offcanvas-menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/blogs/create">Add an article</a></li>
                            <li><a href="/profile">View my profil</a></li>

                           
                        </ul>

                        <div class="social-icons">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--====== Header part end ======-->
