	<!--====== 404 Section Start ======-->
    <section>
	<section class="error-section">
		<div class="container">
			<div class="error-text text-center">
				<h1>
					OOPS! <span>404</span> Page Not Found
				</h1>
			</div>
		</div>
	</section>
	<!--====== 404 Section End ======-->

	<!--====== Instagram Area Start ======-->
	<section class="instagram-section border-top">
		<div class="container-fluid p-0">
			<h5 class="instagram-title">
				Follow Us <span class="instagram-icon"><i class="fab fa-instagram"></i></span> Instagram
			</h5>
			<div class="instagram-images">
				<div class="image">
					<img src="/assets/img/instagram/01.jpg" alt="Instagram-image">
					<a class="instagram-link" href="#"><i class="fab fa-instagram"></i></a>
				</div>
				<div class="image">
					<img src="/assets/img/instagram/02.jpg" alt="Instagram-image">
					<a class="instagram-link" href="#"><i class="fab fa-instagram"></i></a>
				</div>
				<div class="image">
					<img src="/assets/img/instagram/03.jpg" alt="Instagram-image">
					<a class="instagram-link" href="#"><i class="fab fa-instagram"></i></a>
				</div>
				<div class="image">
					<img src="/assets/img/instagram/04.jpg" alt="Instagram-image">
					<a class="instagram-link" href="#"><i class="fab fa-instagram"></i></a>
				</div>
				<div class="image">
					<img src="/assets/img/instagram/05.jpg" alt="Instagram-image">
					<a class="instagram-link" href="#"><i class="fab fa-instagram"></i></a>
				</div>
				<div class="image">
					<img src="/assets/img/instagram/06.jpg" alt="Instagram-image">
					<a class="instagram-link" href="#"><i class="fab fa-instagram"></i></a>
				</div>
				<div class="image">
					<img src="/assets/img/instagram/07.jpg" alt="Instagram-image">
					<a class="instagram-link" href="#"><i class="fab fa-instagram"></i></a>
				</div>
				<div class="image">
					<img src="/assets/img/instagram/01.jpg" alt="Instagram-image">
					<a class="instagram-link" href="#"><i class="fab fa-instagram"></i></a>
				</div>
				<div class="image">
					<img src="/assets/img/instagram/02.jpg" alt="Instagram-image">
					<a class="instagram-link" href="#"><i class="fab fa-instagram"></i></a>
				</div>
				<div class="image">
					<img src="/assets/img/instagram/03.jpg" alt="Instagram-image">
					<a class="instagram-link" href="#"><i class="fab fa-instagram"></i></a>
				</div>
				<div class="image">
					<img src="/assets/img/instagram/04.jpg" alt="Instagram-image">
					<a class="instagram-link" href="#"><i class="fab fa-instagram"></i></a>
				</div>
				<div class="image">
					<img src="/assets/img/instagram/05.jpg" alt="Instagram-image">
					<a class="instagram-link" href="#"><i class="fab fa-instagram"></i></a>
				</div>
				<div class="image">
					<img src="/assets/img/instagram/06.jpg" alt="Instagram-image">
					<a class="instagram-link" href="#"><i class="fab fa-instagram"></i></a>
				</div>
				<div class="image">
					<img src="/assets/img/instagram/07.jpg" alt="Instagram-image">
					<a class="instagram-link" href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
	</section>
	<!--====== Instagram Area End ======-->
</section>