<!DOCTYPE html>
<html lang="eng">
<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--====== Title ======-->
    <title> Genial Blog</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="img/png" />
    <!--====== Animate Css ======-->
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
    <!--====== Slick  css ======-->
    <link rel="stylesheet" href="/assets/css/slick.css" />
    <!--====== Nice Select ======-->
    <link rel="stylesheet" href="/assets/css/jquery-nice-select.min.css" />
    <!--====== Style css ======-->
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!--====== Header part start ======-->
<%- include('partials/header') %>
<!--====== Header part end ======-->

<!--====== main part start ======-->
<%- body %>
<!--====== main part end ======-->

<!--====== Footer Area Start ======-->
<%- include('partials/footer') %>
<!--====== Footer Area End ======-->

<!--====== jquery js ======-->
<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<!--====== Bootstrap js ======-->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<!--====== Slick js ======-->
<script src="/assets/js/slick.min.js"></script>
<!--====== Images Loaded ======-->
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<!--====== Isotope js ======-->
<script src="/assets/js/isotope.pkgd.min.js"></script>
<!--====== Magnific Popup js ======-->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!--====== Nice Select js ======-->
<script src="/assets/js/jquery.nice-select.min.js"></script>
<!--====== Main js ======-->
<script src="/assets/js/main.js"></script>
</body>

</html>